

.card-container{
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: var(--primary-color);

  max-width:250px;
  outline: 2px solid var(--border-color);
  border-radius:8px;
}

.card-top{
  background-color: white;
  border-radius:8px 8px 0px 0px;
}

.card-top img{
  padding:8px;
  object-fit: contain;
  width:250px;
  height:162.5px;
  
}

.card-bottom{
  padding:8px;
  color:var(--primary-text-color);
  text-align: center;
}

.card-title{
  font-weight:bold;
}

.card-container:hover{
  box-shadow: 2px 2px 10px rgb(129, 129, 129);
  transform:translateY(-10px);
}